docs/xml/esquema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="reporteSesiones">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="sesion" maxOccurs="unbounded">

                    <xs:complexType>
                        <xs:all>

                            <xs:element name="id" type="xs:int"/>
                            <xs:element name="clase" type="xs:string"/>
                            <xs:element name="fecha" type="xs:date"/>
                            <xs:element name="horaInicio" type="xs:time"/>
                            <xs:element name="horaFin" type="xs:time"/>
                            <xs:element name="profesor" type="xs:string"/>
                            <xs:element name="plazas" type="xs:int"/>

                            <xs:element name="reservas">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="reserva" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="idUsuario" type="xs:int"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:all>
                    </xs:complexType>

                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>